/.gitattributes text eol=lf -filter -ident -working-tree-encoding
/pspkt.HostClassifierVectorParity.Tests.ps1 text eol=lf -filter -ident -working-tree-encoding
/pspkt.Phase4SchemaAuthorityFoundation.Tests.ps1 text eol=lf -filter -ident -working-tree-encoding
